<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RUVolvoAudit_STO</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="appContainer container" id="app">
	<header>
		<h3>Фрагмент отчета СТО</h3>
		<p>JSON данные приходят по выборкам: 2018 год => 3 первые города => все выбранные анкеты</p>
	</header>
    <div class="row select_section">
        <transition name="fade" appear>
            <div class="col-md-3" class="form-group">
                <label for="yearSelect">Год</label>
                <app-select :data='years' arrkey="WaveYear" :val="selectedYear" :multiple='false' @select_changed="updateSelectedValues"></app-select>
            </div>
        </transition>
        <transition name="fade" appear>
            <div class="col-md-3" class="form-group" v-show='isYearSelected'>
                <label for="citySelect">Город</label>
                <app-select :data='citys' arrkey="City" :val="selectedCity" @select_changed="updateSelectedValues" multiple='true'></app-select>
            </div>
        </transition>
        <transition name="fade" appear>
            <div class="col-md-3 form-group" v-show='isCitySelected'>
                <label for="citySelect ">Анкеты</label>
                <div class="form-check">
                    <div v-for='(test,index,key) in tests' class="form-group">
                        <transition name="fade" appear>
                            <div key="`${test.TestName}_${index}`">
                                <input type="checkbox" :id="test.TestName" :key="test.TestName" :value="test.TestName" v-model="selectedTests">
                                <label :for="test.TestName">{{test.TestName}}</label>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade" appear>
            <div class="col-md-3 form-group" v-show='isCitySelected'>
                <button type="button" class="btn btn-success btn-load-results" :disabled="allSelected" @click='sendFormData'>Загрузить результаты</button>
            </div>
        </transition>
    </div>
    <div class="row select_section">
        <table class="table table-hover" v-show="isResultsLoaded" id="resultsTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Дилер</th>
                    <th v-for="(elem,index) in allAnkets">{{elem}}</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(elem,index) in newResults">
                    <th scope="row">{{index+1}}</th>
                    <td>{{elem.Name}}</td>
                    <td v-for="(currentAnket,index) in elem.Ankets">{{currentAnket.Eff}}</td>
                    <td>{{elem.EffSumm}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="main.js"></script>	
</body>
</html>